<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Made with <span><i class="fa fa-heart"></i></span> by <strong>Francisco Edno</strong>
            <small>build 2018.08.12.adf8sad7</small>
        </p>
    </div>
</footer>
